/*--Шрифты--*/
@font-face {
	font-family: 'Poppins'; 
	font-weight: 400;
	src: local('Poppins'),
		url(/fonts/Poppins-Regular.ttf); 
}
@font-face {
	font-family: 'Poppins'; 
	font-weight: 500;
	src: local('Poppins'),
		url(/fonts/Poppins-Medium.ttf); 
}
@font-face {
	font-family: 'Poppins'; 
	font-weight: 600;
	src: local('Poppins'),
		url(/fonts/Poppins-SemiBold.ttf); 
}



@font-face {
	font-family: 'Roboto'; 
	font-weight: 400;
	src: local('Roboto'),
		url(/fonts/Roboto-Regular.ttf); 
}
@font-face {
	font-family: 'Roboto'; 
	font-weight: 500;
	src: local('Roboto'),
		url(/fonts/Roboto-Medium.ttf); 
}
@font-face {
	font-family: 'Roboto'; 
	font-weight: 700;
	src: local('Roboto'),
		url(/fonts/Roboto-Bold.ttf); 
}