/*--Осн. цвета--*/
:root {
	--white: #fff;
	--black: #222;
	--grey: #666;
	--dark-grey: #3A3A3A;
	--light-grey: #bbb;
	--light-light-grey: #eee;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', 'Roboto', 'Arial', sans-serif;
	font-weight: 400;
	width: 100%;
	height: 100%;
}
a {
	text-decoration: none;
	user-select: none;
}
img {
	user-select: none;
}
h1 {
	user-select: none;
}
input {
	border: none;
	outline: none;
}
select::-ms-expand {
	display: none;
}
select {
	outline: none;
}
ul {
	list-style: none;
}
svg {
	width: 60%;
	height: 60%;
}

.wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}
.start-menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background: var(--white);
	box-shadow: 10px 0px 5px var(--light-grey);
	z-index: 2;
	transition: 0.6s;
}
.start-zone {
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.title-box{
	width: 100%;
	height: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.title {
	font-size: 4.5vw;
	font-weight: 600;
	letter-spacing: 0.2vw;
	color: var(--black);
}
.colorful-text {
	color: #3CE7C8;
	animation: colorful-text 5s infinite;
}
.subtitle {
	font-size: 2vw;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 400;
	letter-spacing: 0.2vw;
	color: var(--grey);
}
.starter-btn {
	padding: 2vh 9vw;
	border-radius: 0.75rem;
	color: var(--white);
	background: var(--black);
	font-size: 4vh;
	letter-spacing: 24%;
}
.author {
	position: absolute;
	right: 3vw;
	bottom: 3vh;
	font-size: 1.5vw;
	font-weight: 400;
	color: var(--light-grey);
}

@keyframes colorful-text {
	0% { color: #3CE7C8; }
	20% { color: #E73C3C; }
	40% { color: #E7983C; }
	60% { color: #3C62E7; }
	80% { color: #B03CE7; }
	100% { columns: #3CE7C8; }
}


.generation-room {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left: 0;
	background: var(--white);
	z-index: 1;
}
.menu-position {
	position: relative;
	width: 200px;
	max-width: 200px;
	height: 100%;
}
.color-menu {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 200px;
	max-width: 90px;
	height: calc(100% - (40px * 2));
	margin: 40px 55px;
	background: var(--white);
}
.mode-btns {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow: hidden;
	border-radius: 24px;
	box-shadow: 0px 9px 24px 0px #00000040;
}
.mode {
	position: relative;
	width: 100%;
	height: 90px;
	max-height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--white);
}
.a1:hover::after {
	content: "Solid";
}
.a2:hover::after {
	content: "Gradient";
}
.a3:hover::after {
	content: "Shades";
}
.mode:hover::after {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	font-size: 0;
	padding: 5px 10px;
	animation: clue 0.3s forwards 1s;
}
@keyframes clue {
	0% {
		background: none;
		color: none;
	}
	100% {
		font-size: 15px;
		background: rgba(0, 0, 0, .4);
		color: var(--white);
	}
}

.mode svg path {
	fill: #C4C4C4;
}
.mode-btns svg {
	transition: 0.3s;
}
.mode-btns a:hover svg {
	transform: scale(1.1);
}
.active-mode {
	background: #C4C4C4;
}
.active-mode svg path {
	fill: #616161;
}
.action-btns {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.action-btns svg path {
	fill: #FFFFFF;
}
.restart-btn {
	max-width: 90px;
	max-height: 90px;
	width: 90px;
	height: 90px;
	display: none;
	justify-content: center;
	align-items: center;
	background: var(--dark-grey);
	border-radius: 24px;
	transition: 0.3s;
}
.action-btns a.restart-btn:hover {
	transform: translateY(-2px);
	box-shadow: 0px 5px 5px rgba(0, 0, 0, .25);
}
.action-btns a.restart-btn:active {
	transition: 0.05s;
	transform: translateY(2px);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, .55);
}
.action-btns a.restart-btn:hover svg {
	transform: rotateZ(360deg);
}
.create-btn {
	max-width: 90px;
	max-height: 90px;
	width: 90px;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--dark-grey);
	border-radius: 24px;
	transition: 0.3s;
}
.action-btns a.create-btn:hover {
	transform: translateY(-2px);
	box-shadow: 0px 5px 5px rgba(0, 0, 0, .25);
}
.action-btns a.create-btn:active {
	transition: 0.05s;
	transform: translateY(2px);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, .55);
}
.color-blocks-zone {
	width: calc(100% - (55px * 2));
	overflow-x: visible;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: flex-start;
	margin: 40px 0px;
	scroll-behavior: smooth;
}
.past_color {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	width: calc(100% - (100px * 2));
	height: 100%;
	padding: 3%;
	background: #ccc;
}
.past_text {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/*Border*/
	background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill: none; stroke: grey; stroke-width: 8; stroke-dasharray: 10 6'/></svg>");
}
.info-text {
	font-size: 25px;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 600;
	letter-spacing: 0.2vw;
	color: var(--grey);
	margin-bottom: 5px;
}
.little-text{
	font-size: 10px;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 500;
	letter-spacing: 0.05vw;
	color: #777;
	margin-bottom: 35px;
}
.inputs {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 70px;
	max-height: 120px;
}
.incorrect-text{
	position: absolute;
	top: 19px;
	left: 5px;
	font-size: 15px;
	font-weight: 700;
	color: #eb4d4b;
	user-select: none;
	z-index: 4;
}
.color-text {
	position: relative;
	width: 200px;
	max-width: 300px;
	height: 40px;
	max-height: 90px;
	padding: 10px;
	font-weight: 600;
	color: var(--black);
	border-radius: 20px;
	transition: 0.5s;
	z-index: 5;
}
.color-text::placeholder {
	color: #bbb;
}
.color-text:hover {
	transform: translateY(-2px);
	box-shadow: 0px 5px 5px rgba(0, 0, 0, .15);
}








.box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	width: 197px;
	max-width: 197px;
	height: 227px;
	max-height: 227px;
	border-radius: 1.5vh;
	background-color: var(--black);
	cursor: pointer;
	transition: 0.3s;
}
.box:after {
	content: '';
	transition: 0.3s;
	opacity: 0;
}
.box:hover::after {
	content: "Click to copy!";
	opacity: 1;
	position: absolute;
	z-index: 6;
	color: var(--white);
	background: rgba(0,0,0,0.4);
	font-family: 'Poppins', 'Roboto', sans-serif;
	font-size: 11px;
	padding: 5px 10px;
	border: 2px dashed #000;
}
.box:hover {
	transform: scale(1.05);
}